<h1 class="heading">About</h1>
<div class="card-content">
  <img
    class="about-img"
    src="https://wallpapers.com/images/hd/one-more-gym-quote-og6h4kg6ciwvrj5i.jpg"
    alt="About Gym"
  />

  <div class="text-container">
    <h2 class="heading-2">Welcome to FitFlex</h2>
    <p>
      Gyms stand as beacons of motivation, inspiring individuals to embrace
      their inner strength and push past obstacles. With every weight lifted and
      every mile conquered, they instill a spirit of resilience and
      determination, fueling a journey of self-improvement, empowerment, and
      unparalleled achievement.
    </p>
  </div>
</div>
<div class="container">
  <div class="content">
    <img
      src="https://st2.depositphotos.com/1518767/8186/i/450/depositphotos_81866598-stock-photo-muscular-couple-doing-abdominal-ball.jpg"
      alt="About Trainers"
    />
    <div>
      <h2>About Trainers</h2>
      <p>
        Gym trainers sculpt not just bodies, but aspirations. With dedication
        and expertise, they transform sweat into strength and ambition into
        achievement.
      </p>
    </div>
  </div>

  <div class="content">
    <img
      src="https://t4.ftcdn.net/jpg/03/17/72/47/360_F_317724775_qHtWjnT8YbRdFNIuq5PWsSYypRhOmalS.jpg"
      alt="Explore Gym"
    />

    <div>
      <h2>Explore Gym</h2>
      <p>
        Gyms are transformative spaces where individuals embark on journeys of
        self-discovery, pushing physical limits, and forging mental resilience.
        They foster camaraderie, discipline, and determination, empowering
        individuals to transcend obstacles and achieve peak fitness and
        wellness.
      </p>
    </div>
  </div>

  <div class="content">
    <img
      src="https://marketplace.canva.com/EAF4bEH_bgI/1/0/1600w/canva-black-and-white-geometric-bold-modern-sculpt-your-body-fitness-instagram-post-0uwCw0B_-QA.jpg"
      alt="Join Us"
    />
    <div>
      <h2>Join Us</h2>
      <p>
        Ready to redefine your limits? Our gym is your gateway to a world of
        endless possibilities. With cutting-edge equipment, dynamic classes, and
        a supportive community, join us on a journey of self-discovery,
        strength, and empowerment. Your transformation starts here.
      </p>
    </div>
  </div>
</div>
