<h1 class="heading">Reviews</h1>
<div class="container">
  <div class="content">
    <div class="img-container">
      <img
        src="https://png.pngtree.com/png-clipart/20190902/original/pngtree-cute-girl-avatar-element-icon-png-image_4393286.jpg"
        alt=""
      />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde eaque hic
      ipsam quisquam dolorem provident, beatae velit impedit repellendus
      sapiente iste debitis minima repudiandae delectus, incidunt ea placeat
      totam! Nulla saepe aliquam rem maiores sunt ex, assumenda ab repellat
      eveniet! Maiores fugit doloremque ut soluta dolor tenetur nam? In, quos.
    </p>
  </div>
  <div class="content">
    <div class="img-container">
      <img
        src="https://static.vecteezy.com/system/resources/previews/002/002/257/non_2x/beautiful-woman-avatar-character-icon-free-vector.jpg"
        alt=""
      />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde eaque hic
      ipsam quisquam dolorem provident, beatae velit impedit repellendus
      sapiente iste debitis minima repudiandae delectus, incidunt ea placeat
      totam! Nulla saepe aliquam rem maiores sunt ex, assumenda ab repellat
      eveniet! Maiores fugit doloremque ut soluta dolor tenetur nam? In, quos.
    </p>
  </div>
  <div class="content">
    <div class="img-container">
      <img
        src="https://static.vecteezy.com/system/resources/previews/002/002/257/non_2x/beautiful-woman-avatar-character-icon-free-vector.jpg"
        alt=""
      />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde eaque hic
      ipsam quisquam dolorem provident, beatae velit impedit repellendus
      sapiente iste debitis minima repudiandae delectus, incidunt ea placeat
      totam! Nulla saepe aliquam rem maiores sunt ex, assumenda ab repellat
      eveniet! Maiores fugit doloremque ut soluta dolor tenetur nam? In, quos.
    </p>
  </div>
  <div class="content">
    <div class="img-container">
      <img
        src="https://cdn-icons-png.flaticon.com/512/5556/5556468.png"
        alt=""
      />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde eaque hic
      ipsam quisquam dolorem provident, beatae velit impedit repellendus
      sapiente iste debitis minima repudiandae delectus, incidunt ea placeat
      totam! Nulla saepe aliquam rem maiores sunt ex, assumenda ab repellat
      eveniet! Maiores fugit doloremque ut soluta dolor tenetur nam? In, quos.
    </p>
  </div>
</div>
