<h1 class="heading">Contact Us</h1>
<div class="contact">
  <div class="img-container">
    <img
      mat-card-image
      src="https://assets-global.website-files.com/5daf6be34d7026250a7966b7/6455386b57c1cd22cae2d3ed_UL-SellGymMemberships-cta600x400.png"
      alt="Contact Us"
    />
  </div>

  <div class="contact-info">
    <p><strong>Phone:</strong> (123) 456-7890</p>
    <p><strong>Email:</strong> fitflexgmail.com</p>
    <p>
      <strong>Address:</strong> 123 Fitness Avenue, Banglore, Karnataka, 560103
    </p>
    <p><strong>Operating Hours:</strong></p>
    <ul>
      <li>Monday - Friday: 6:00 AM - 10:00 PM</li>
      <li>Saturday - Sunday: 8:00 AM - 8:00 PM</li>
    </ul>
    <p>
      For inquiries or appointments, please use the contact form on our website
      or reach out to us via phone or email. Connect with us on social media for
      the latest updates and promotions.
    </p>
  </div>
</div>
